[submodule "home-manager/repo"]
	path = home-manager/repo
	url = https://github.com/lpchaim/home-manager.git
[submodule "home-manager/templates/repo"]
	path = home-manager/templates/repo
	url = https://github.com/lpchaim/home-manager.git
