{
	"settings": [
		{
			"provider": "cloudflare",
			"zone_identifier": "{{ secret_cloudflare_zone_id }}",
			"domain": "lpcha.im",
			"host": "*",
			"ttl": 1,
			"token": "{{ secret_cloudflare_api_token }}",
			"ip_version": "ipv6"
		}
	]
}
