{
	dynamic_dns {
		provider cloudflare {{ secret_cloudflare_api_token }}
		domains {
			{{ domain }} jellyfin nextcloud
		}
		check_interval 5m
		versions ipv6
		ip_source simple_http https://ipv6.icanhazip.com/
		ip_source simple_http https://api6.ipify.org/
	}

	servers {
		trusted_proxies cloudflare {
			interval 1h
		}
	}

	crowdsec {
		api_url http://10.10.2.30:8080
		api_key {{ secret_crowdsec_bouncer_caddy_api_key }}
		# ticker_interval 15s
		# disable_streaming
		# enable_hard_fails
	}

	order crowdsec first
	order filter after encode
}

## Utilities

(common_pre) {
	crowdsec
}

(allow_embedding) {
	header_down -x-webkit-csp
	header_down -content-security-policy
	header_down -X-Frame-Options
}

## Themepark snippets

# Args: app, theme
(themepark_filter_theme) {
	filter {
		content_type text/html.*
		search_pattern </head>
		replacement "<link rel='stylesheet' type='text/css' href='https://theme-park.dev/css/base/{args.0}/{args.1}.css'></head>"
	}
}

# Args: app
(themepark_filter_addon_darker) {
	filter {
		content_type text/html.*
		search_pattern </head>
		replacement "<link rel='stylesheet' type='text/css' href='https://theme-park.dev/css/base/{args.0}/{args.0}-base.css'><link rel='stylesheet' type='text/css' href='https://theme-park.dev/css/addons/{args.0}/{args.0}-darker/{args.0}-darker.css'></head>"
	}
}

# Headers so that reverse proxying works
(themepark_headers) {
	header_up -Accept-Encoding
}

## Lemmy
(lemmy_settings) {
    encode gzip
    header {
        -Server
        Strict-Transport-Security "max-age=31536000; include-subdomains;"
        X-XSS-Protection "1; mode=block"
        X-Frame-Options "DENY"
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer-when-downgrade
        X-Robots-Tag "none"
    }
}

# Matrix
lpcha.im {
	header /.well-known/matrix/* Content-Type application/json
	header /.well-known/matrix/* Access-Control-Allow-Origin *
	respond /.well-known/matrix/server `{"m.server": "matrix.lpcha.im:443"}`
	respond /.well-known/matrix/client `{"m.homeserver": {"base_url": "https://matrix.lpcha.im"}}`
}

*.{{ domain }} {
	tls {
		dns cloudflare {{ secret_cloudflare_api_token }}
		# resolvers 8.8.8.8
	}

	encode zstd gzip

	header {
		-Server
        Strict-Transport-Security "max-age=31536000; include-subdomains;"
        X-XSS-Protection "1; mode=block"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer-when-downgrade
        X-Robots-Tag "noindex, nofollow, noarchive"
	}

	@homeassistant host hass.{{ domain }}
	handle @homeassistant {
		import common_pre
		reverse_proxy 10.0.0.2:8123 {
			import allow_embedding
		}
	}

	@jellyfin host jellyfin.{{ domain }}
	handle @jellyfin {
		import common_pre
		reverse_proxy 10.10.8.10:8096 {
			import themepark_headers
		}
	}

	@matrix host matrix.{{ domain }}
	handle @matrix {
		reverse_proxy /_matrix/* 10.10.10.0:8008
	}

	@nextcloud host nextcloud.{{ domain }}
	handle @nextcloud {
		import common_pre
		reverse_proxy 10.10.4.50:11000
		redir /.well-known/carddav /remote.php/dav 301
		redir /.well-known/caldav /remote.php/dav 301
	}

	@nextcloudTurn {
		host http://nextcloud-turn.{{ domain }}
		host https://nextcloud-turn.{{ domain }}
		host http://nextcloud.{{ domain }}:3478
	}
	handle @nextcloudTurn {
		reverse_proxy 10.10.4.50:3478
	}

	@pve01 host pve01.{{ domain }}
	handle @pve01 {
		import common_pre
		reverse_proxy 10.10.0.1:8006 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	# Fallback
	handle {
		error "Not found" 404
		# abort
	}

	handle_errors {
		rewrite * /{err.status_code}
		reverse_proxy https://http.cat {
			header_up Host {upstream_hostport}
			replace_status {err.status_code}
		}
	}
}
